<%= content_tag :h1, 'Ваш заказ:' %>
<%= content_tag :br %>
<%= content_tag :span, "Автомобиль: #{@brand} #{@model}" %>
<%= content_tag :br %>
<%= content_tag :span, "Список деталей:"%>
<%= content_tag :br %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <% @parts_names.each_with_index do |part, i| %>
      <%= content_tag :tr do %>
        <%= content_tag :th, i + 1, scope: 'row' %>
        <%= content_tag :td, part %>
        <%= content_tag :td, '100' %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= content_tag :span, '', class: 'custom-right' do |s| %>
  <%= content_tag :strong, "Итоговая стоимость:" %>
  <%= "#{@parts_names.count * 100} RUR" %>
<% end %>