<%= content_tag :h1, 'Ваш заказ:' %>
<%= content_tag :br %>
<%= content_tag :span, "Автомобиль: #{@brand} #{@model}" %>
<%= content_tag :br %>
<%= content_tag :span, "Список деталей:"%>
<%= content_tag :br %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
<%= content_tag :span, '', class: 'custom-right' do |s| %>
  <%= content_tag :strong, "Итоговая стоимость:" %>
  <%= "#{@model} RUR" %>
<% end %>