<%= content_tag :h1, 'Ваш заказ:' %>
<%= content_tag :br %>
<%= content_tag :span, "Клиент: #{@client}" %>
<%= content_tag :br %>
<% if @master == {} then %>  
  <%= content_tag :span, "Мастер: " %>
  <%= content_tag :b, 'Свободных мастеров на данный момент нет! Попробуйте позже или свяжитесь с нами по телефону.' %>
<% else %>
  <%= content_tag :span, "Мастер: #{@master}" %>
<% end %>
<%= content_tag :br %>
<%= content_tag :span, "Автомобиль: #{@brand} #{@model}" %>
<%= content_tag :br %>
<%= content_tag :span, "Список деталей:"%>
<%= content_tag :br %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <% @parts_arr.each_with_index do |part, i| %>
      <%= content_tag :tr do %>
        <%= content_tag :th, i + 1, scope: 'row' %>
        <%= content_tag :td, part['sparepartName'] %>
        <%= content_tag :td, part['price'] %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= content_tag :span, '', class: 'custom-right' do |s| %>
  <%= content_tag :strong, "Итоговая стоимость:" %>
  <%= "#{@sum} RUR" %>
<% end %>
<%= content_tag :br %>
<%= link_to 'Назад', main_index_path, class: "btn btn-info custom-right" %>