<%=content_tag :h1, 'Панель администратора' %>
<%= link_to 'Бренды', panel_brands_path, class: "btn btn-secondary" %>
<%= link_to 'Модели', panel_models_path, class: "btn btn-secondary" %>
<%= link_to 'Детали', panel_parts_path, class: "btn btn-secondary" %>
<%= link_to 'Мастера', panel_masters_path, class: "btn btn-primary" %>

<%= link_to 'Назад', main_index_path, class: "btn btn-info custom-right" %>

<%= content_tag :br %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Марка</th>
      <th scope="col">Модель</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @models.each_with_index do |mdl, i| %>
      <%= content_tag :tr do %>
        <%= content_tag :th, i + 1, scope: 'row' %>
        <%= content_tag :td, mdl[:brand] %>
        <%= content_tag :td, mdl[:model] %>
        <%= content_tag :td do %>
        <%#= link_to "Редактировать", edit_brand_panel_index_index_path(mdl), class: 'btn btn-xs btn-default order-btn-edit-js' %>
        <%= link_to "Удалить", delete_model_panel_models_path, class: 'btn btn-xs btn-danger', data: { confirm: "Вы действительно хотите удалить эту модель?" } %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= content_tag :br %>
<%= bootstrap_form_for('', url: create_model_panel_models_path, method: 'get') do |f| %>
  <%= content_tag :div, '', class: "form-inline" do %>
    <%= f.select :brand_id, @brands_invert, { label: 'Марка:', include_blank: '' }, { class: "location mx-3", id: 'brand_for_model_select-JS' } %>
    <%= f.text_field :model_name, class: 'input-group-text mx-3', placeholder: 'Добавить модель', label: 'Модель:' %>
    <%= f.submit 'Добавить' %>
  <% end %>
<% end %>

<%= content_tag :br %>
<%= content_tag :br %>
<%= content_tag :br %>
